<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="inputFilePath" value="E:\Projects\CreditSuisse\Data\Input\input.txt"/>
    <add key="outputFilePath" value="E:\Projects\CreditSuisse\Data\Output\output.txt"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>